﻿@section scripts{
    <script type="text/javascript">
        var uri = 'api/contact';
        $(function () {
            $.getJSON(uri, function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#contacts').append('<li>' + item.Name + ' ' + item.Surname + '</li> ');
                });
            });

        });
        $('#saveContact').click(function () {
            $.post(uri,
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Name + ' ' + value.Surname + '</li>');
                  },
                  "json"
            );
        });
        function find() {
            var id = $('#contactId').val();
            $.getJSON(uri + '/' + id)
                .done(function (data) {
                    $('#contact').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#contact').text('Error: ' + err);
                });
        }

        function formatItem(item) {
            return item.Name + ' ' + item.Surname; 
            
        }

    </script>
}
<div>
    <h2>Search by ID</h2>
    <input type="text" id="contactId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="contact" />
</div>

<div id="body">
    <h2>Contacts</h2>
    <ul id="hello"></ul>
    <ul id="contacts"></ul>
</div>

<form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <p>
        <label for="contactSurname">Contact Surname:</label>
        <input type="text" name="Surname" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>
